{
  "schemes": [
    "https"
  ],
  "swagger": "2.0",
  "info": {
    "description": "Microsoft ProviderHub",
    "title": "ProviderHub",
    "version": "2020-11-20",
    "x-ms-code-generation-settings": {
      "name": "ProviderHubClient"
    }
  },
  "host": "management.azure.com",
  "paths": {
    "/providers/Microsoft.ProviderHub/operations": {
      "get": {
        "description": "Lists all the operations supported by Microsoft.ProviderHub.",
        "produces": [
          "application/json"
        ],
        "tags": [
          "Operations"
        ],
        "operationId": "Operations_List",
        "responses": {
          "200": {
            "description": "Successfully retrieved the list of supported operations.",
            "schema": {
              "$ref": "#/definitions/OperationsDefinitionArrayResponseWithContinuation"
            }
          },
          "default": {
            "description": "Error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Operations_List": {
            "$ref": "./examples/Operations_List.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ProviderHub/providerRegistrations": {
      "get": {
        "description": "Gets the list of the provider registrations in the subscription.",
        "produces": [
          "application/json"
        ],
        "tags": [
          "ProviderRegistration"
        ],
        "operationId": "ProviderRegistrations_List",
        "parameters": [
          {
            "minLength": 1,
            "type": "string",
            "description": "The ID of the target subscription.",
            "name": "subscriptionId",
            "in": "path",
            "required": true
          },
          {
            "minLength": 1,
            "type": "string",
            "description": "The API version to use for this operation.",
            "name": "api-version",
            "in": "query",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved the provider registrations.",
            "schema": {
              "$ref": "#/definitions/ProviderRegistrationArrayResponseWithContinuation"
            }
          },
          "default": {
            "description": "Error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ProviderRegistrations_List": {
            "$ref": "./examples/ProviderRegistrations_List.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ProviderHub/providerRegistrations/{providerNamespace}": {
      "get": {
        "description": "Gets the provider registration details.",
        "produces": [
          "application/json"
        ],
        "tags": [
          "ProviderRegistration"
        ],
        "operationId": "ProviderRegistrations_Get",
        "parameters": [
          {
            "minLength": 1,
            "type": "string",
            "description": "The ID of the target subscription.",
            "name": "subscriptionId",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "x-ms-parameter-location": "method",
            "description": "The name of the resource provider hosted within ProviderHub.",
            "name": "providerNamespace",
            "in": "path",
            "required": true
          },
          {
            "minLength": 1,
            "type": "string",
            "description": "The API version to use for this operation.",
            "name": "api-version",
            "in": "query",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved the provider registration.",
            "schema": {
              "$ref": "#/definitions/ProviderRegistration"
            }
          },
          "default": {
            "description": "Error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ProviderRegistrations_Get": {
            "$ref": "./examples/ProviderRegistrations_Get.json"
          }
        }
      },
      "put": {
        "description": "Creates or updates the provider registration.",
        "produces": [
          "application/json"
        ],
        "tags": [
          "ProviderRegistration"
        ],
        "operationId": "ProviderRegistrations_CreateOrUpdate",
        "parameters": [
          {
            "minLength": 1,
            "type": "string",
            "description": "The ID of the target subscription.",
            "name": "subscriptionId",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "x-ms-parameter-location": "method",
            "description": "The name of the resource provider hosted within ProviderHub.",
            "name": "providerNamespace",
            "in": "path",
            "required": true
          },
          {
            "description": "The provider registration properties supplied to the CreateOrUpdate operation.",
            "name": "properties",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ProviderRegistration"
            }
          },
          {
            "minLength": 1,
            "type": "string",
            "description": "The API version to use for this operation.",
            "name": "api-version",
            "in": "query",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully updated the provider registration.",
            "schema": {
              "$ref": "#/definitions/ProviderRegistration"
            }
          },
          "201": {
            "description": "Successfully created the provider registration."
          },
          "default": {
            "description": "Error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ProviderRegistrations_CreateOrUpdate": {
            "$ref": "./examples/ProviderRegistrations_CreateOrUpdate.json"
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        }
      },
      "delete": {
        "description": "Deletes a provider registration.",
        "produces": [
          "application/json"
        ],
        "tags": [
          "ProviderRegistration"
        ],
        "operationId": "ProviderRegistrations_Delete",
        "parameters": [
          {
            "minLength": 1,
            "type": "string",
            "description": "The ID of the target subscription.",
            "name": "subscriptionId",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "x-ms-parameter-location": "method",
            "description": "The name of the resource provider hosted within ProviderHub.",
            "name": "providerNamespace",
            "in": "path",
            "required": true
          },
          {
            "minLength": 1,
            "type": "string",
            "description": "The API version to use for this operation.",
            "name": "api-version",
            "in": "query",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully deleted the provider registration."
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "Error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ProviderRegistrations_Delete": {
            "$ref": "./examples/ProviderRegistrations_Delete.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ProviderHub/providerRegistrations/{providerNamespace}/checkinManifest": {
      "post": {
        "description": "Checkin the manifest.",
        "produces": [
          "application/json"
        ],
        "tags": [
          "Manifest"
        ],
        "operationId": "CheckinManifest",
        "parameters": [
          {
            "minLength": 1,
            "type": "string",
            "description": "The ID of the target subscription.",
            "name": "subscriptionId",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "x-ms-parameter-location": "method",
            "description": "The name of the resource provider hosted within ProviderHub.",
            "name": "providerNamespace",
            "in": "path",
            "required": true
          },
          {
            "description": "The required body parameters supplied to the checkin manifest operation.",
            "name": "checkinManifestParams",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CheckinManifestParams"
            }
          },
          {
            "minLength": 1,
            "type": "string",
            "description": "The API version to use for this operation.",
            "name": "api-version",
            "in": "query",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully checked-in manifest.",
            "schema": {
              "$ref": "#/definitions/CheckinManifestInfo"
            }
          },
          "default": {
            "description": "Error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "CheckinManifest": {
            "$ref": "./examples/CheckinManifest.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ProviderHub/providerRegistrations/{providerNamespace}/customRollouts": {
      "get": {
        "description": "Gets the list of the custom rollouts for the given provider.",
        "produces": [
          "application/json"
        ],
        "tags": [
          "CustomRollouts"
        ],
        "operationId": "CustomRollouts_ListByProviderRegistration",
        "parameters": [
          {
            "minLength": 1,
            "type": "string",
            "description": "The ID of the target subscription.",
            "name": "subscriptionId",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "x-ms-parameter-location": "method",
            "description": "The name of the resource provider hosted within ProviderHub.",
            "name": "providerNamespace",
            "in": "path",
            "required": true
          },
          {
            "minLength": 1,
            "type": "string",
            "description": "The API version to use for this operation.",
            "name": "api-version",
            "in": "query",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved the list of custom rollouts for given provider.",
            "schema": {
              "$ref": "#/definitions/CustomRolloutArrayResponseWithContinuation"
            }
          },
          "default": {
            "description": "Error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "CustomRollouts_ListByProviderRegistration": {
            "$ref": "./examples/CustomRollouts_ListByProviderRegistration.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ProviderHub/providerRegistrations/{providerNamespace}/customRollouts/{rolloutName}": {
      "get": {
        "description": "Gets the custom rollout details.",
        "produces": [
          "application/json"
        ],
        "tags": [
          "CustomRollouts"
        ],
        "operationId": "CustomRollouts_Get",
        "parameters": [
          {
            "minLength": 1,
            "type": "string",
            "description": "The ID of the target subscription.",
            "name": "subscriptionId",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "x-ms-parameter-location": "method",
            "description": "The name of the resource provider hosted within ProviderHub.",
            "name": "providerNamespace",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "x-ms-parameter-location": "method",
            "description": "The rollout name.",
            "name": "rolloutName",
            "in": "path",
            "required": true
          },
          {
            "minLength": 1,
            "type": "string",
            "description": "The API version to use for this operation.",
            "name": "api-version",
            "in": "query",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved the rollout details.",
            "schema": {
              "$ref": "#/definitions/CustomRollout"
            }
          },
          "default": {
            "description": "Error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "CustomRollouts_Get": {
            "$ref": "./examples/CustomRollouts_Get.json"
          }
        }
      },
      "put": {
        "description": "Creates or updates the rollout details.",
        "produces": [
          "application/json"
        ],
        "tags": [
          "CustomRollouts"
        ],
        "operationId": "CustomRollouts_CreateOrUpdate",
        "parameters": [
          {
            "minLength": 1,
            "type": "string",
            "description": "The ID of the target subscription.",
            "name": "subscriptionId",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "x-ms-parameter-location": "method",
            "description": "The name of the resource provider hosted within ProviderHub.",
            "name": "providerNamespace",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "x-ms-parameter-location": "method",
            "description": "The rollout name.",
            "name": "rolloutName",
            "in": "path",
            "required": true
          },
          {
            "description": "The custom rollout properties supplied to the CreateOrUpdate operation.",
            "name": "properties",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CustomRollout"
            }
          },
          {
            "minLength": 1,
            "type": "string",
            "description": "The API version to use for this operation.",
            "name": "api-version",
            "in": "query",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Rollout completed successfully.",
            "schema": {
              "$ref": "#/definitions/CustomRollout"
            }
          },
          "default": {
            "description": "Error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "CustomRollouts_CreateOrUpdate": {
            "$ref": "./examples/CustomRollouts_CreateOrUpdate.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ProviderHub/providerRegistrations/{providerNamespace}/defaultRollouts": {
      "get": {
        "description": "Gets the list of the rollouts for the given provider.",
        "produces": [
          "application/json"
        ],
        "tags": [
          "DefaultRollouts"
        ],
        "operationId": "DefaultRollouts_ListByProviderRegistration",
        "parameters": [
          {
            "minLength": 1,
            "type": "string",
            "description": "The ID of the target subscription.",
            "name": "subscriptionId",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "x-ms-parameter-location": "method",
            "description": "The name of the resource provider hosted within ProviderHub.",
            "name": "providerNamespace",
            "in": "path",
            "required": true
          },
          {
            "minLength": 1,
            "type": "string",
            "description": "The API version to use for this operation.",
            "name": "api-version",
            "in": "query",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved the list of default rollouts.",
            "schema": {
              "$ref": "#/definitions/DefaultRolloutArrayResponseWithContinuation"
            }
          },
          "default": {
            "description": "Error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "DefaultRollouts_ListByProviderRegistration": {
            "$ref": "./examples/DefaultRollouts_ListByProviderRegistration.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ProviderHub/providerRegistrations/{providerNamespace}/defaultRollouts/{rolloutName}": {
      "get": {
        "description": "Gets the default rollout details.",
        "produces": [
          "application/json"
        ],
        "tags": [
          "DefaultRollouts"
        ],
        "operationId": "DefaultRollouts_Get",
        "parameters": [
          {
            "minLength": 1,
            "type": "string",
            "description": "The ID of the target subscription.",
            "name": "subscriptionId",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "x-ms-parameter-location": "method",
            "description": "The name of the resource provider hosted within ProviderHub.",
            "name": "providerNamespace",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "x-ms-parameter-location": "method",
            "description": "The rollout name.",
            "name": "rolloutName",
            "in": "path",
            "required": true
          },
          {
            "minLength": 1,
            "type": "string",
            "description": "The API version to use for this operation.",
            "name": "api-version",
            "in": "query",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved the default rollout details.",
            "schema": {
              "$ref": "#/definitions/DefaultRollout"
            }
          },
          "default": {
            "description": "Error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "DefaultRollouts_Get": {
            "$ref": "./examples/DefaultRollouts_Get.json"
          }
        }
      },
      "put": {
        "description": "Creates or updates the rollout details.",
        "produces": [
          "application/json"
        ],
        "tags": [
          "DefaultRollouts"
        ],
        "operationId": "DefaultRollouts_CreateOrUpdate",
        "parameters": [
          {
            "minLength": 1,
            "type": "string",
            "description": "The ID of the target subscription.",
            "name": "subscriptionId",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "x-ms-parameter-location": "method",
            "description": "The name of the resource provider hosted within ProviderHub.",
            "name": "providerNamespace",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "x-ms-parameter-location": "method",
            "description": "The rollout name.",
            "name": "rolloutName",
            "in": "path",
            "required": true
          },
          {
            "description": "The Default rollout properties supplied to the CreateOrUpdate operation.",
            "name": "properties",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DefaultRollout"
            }
          },
          {
            "minLength": 1,
            "type": "string",
            "description": "The API version to use for this operation.",
            "name": "api-version",
            "in": "query",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Default rollout started successfully.",
            "schema": {
              "$ref": "#/definitions/DefaultRollout"
            }
          },
          "201": {
            "description": "Default rollout completed successfully.",
            "schema": {
              "$ref": "#/definitions/DefaultRollout"
            }
          },
          "default": {
            "description": "Error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "DefaultRollouts_CreateOrUpdate": {
            "$ref": "./examples/DefaultRollouts_CreateOrUpdate.json"
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        }
      },
      "delete": {
        "description": "Deletes the rollout resource. Rollout must be in terminal state.",
        "produces": [
          "application/json"
        ],
        "tags": [
          "DefaultRollouts"
        ],
        "operationId": "DefaultRollouts_Delete",
        "parameters": [
          {
            "minLength": 1,
            "type": "string",
            "description": "The ID of the target subscription.",
            "name": "subscriptionId",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "x-ms-parameter-location": "method",
            "description": "The name of the resource provider hosted within ProviderHub.",
            "name": "providerNamespace",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "x-ms-parameter-location": "method",
            "description": "The rollout name.",
            "name": "rolloutName",
            "in": "path",
            "required": true
          },
          {
            "minLength": 1,
            "type": "string",
            "description": "The API version to use for this operation.",
            "name": "api-version",
            "in": "query",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully deleted the default rollout resource."
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "Error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "DefaultRollouts_Delete": {
            "$ref": "./examples/DefaultRollouts_Delete.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ProviderHub/providerRegistrations/{providerNamespace}/defaultRollouts/{rolloutName}/stop": {
      "post": {
        "description": "Stops or cancels the rollout, if in progress.",
        "produces": [
          "application/json"
        ],
        "tags": [
          "DefaultRollouts"
        ],
        "operationId": "DefaultRollouts_Stop",
        "parameters": [
          {
            "minLength": 1,
            "type": "string",
            "description": "The ID of the target subscription.",
            "name": "subscriptionId",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "x-ms-parameter-location": "method",
            "description": "The name of the resource provider hosted within ProviderHub.",
            "name": "providerNamespace",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "x-ms-parameter-location": "method",
            "description": "The rollout name.",
            "name": "rolloutName",
            "in": "path",
            "required": true
          },
          {
            "minLength": 1,
            "type": "string",
            "description": "The API version to use for this operation.",
            "name": "api-version",
            "in": "query",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully cancelled the default rollout."
          },
          "default": {
            "description": "Error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "DefaultRollouts_Stop": {
            "$ref": "./examples/DefaultRollouts_Stop.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ProviderHub/providerRegistrations/{providerNamespace}/generateManifest": {
      "post": {
        "description": "Generates the manifest for the given provider.",
        "produces": [
          "application/json"
        ],
        "tags": [
          "Manifest"
        ],
        "operationId": "GenerateManifest",
        "parameters": [
          {
            "minLength": 1,
            "type": "string",
            "description": "The ID of the target subscription.",
            "name": "subscriptionId",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "x-ms-parameter-location": "method",
            "description": "The name of the resource provider hosted within ProviderHub.",
            "name": "providerNamespace",
            "in": "path",
            "required": true
          },
          {
            "minLength": 1,
            "type": "string",
            "description": "The API version to use for this operation.",
            "name": "api-version",
            "in": "query",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Manifest generated.",
            "schema": {
              "$ref": "#/definitions/ResourceProviderManifest"
            }
          },
          "default": {
            "description": "Error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "GenerateManifest": {
            "$ref": "./examples/GenerateManifest.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ProviderHub/providerRegistrations/{providerNamespace}/generateOperations": {
      "post": {
        "description": "Generates the operations api for the given provider.",
        "produces": [
          "application/json"
        ],
        "tags": [
          "ProviderRegistration"
        ],
        "operationId": "ProviderRegistrations_GenerateOperations",
        "parameters": [
          {
            "minLength": 1,
            "type": "string",
            "description": "The ID of the target subscription.",
            "name": "subscriptionId",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "x-ms-parameter-location": "method",
            "description": "The name of the resource provider hosted within ProviderHub.",
            "name": "providerNamespace",
            "in": "path",
            "required": true
          },
          {
            "minLength": 1,
            "type": "string",
            "description": "The API version to use for this operation.",
            "name": "api-version",
            "in": "query",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "The operations api has been generated successfully.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/OperationsDefinition"
              }
            }
          },
          "default": {
            "description": "Error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ProviderRegistrations_GenerateOperations": {
            "$ref": "./examples/ProviderRegistrations_GenerateOperations.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ProviderHub/providerRegistrations/{providerNamespace}/notificationRegistrations": {
      "get": {
        "description": "Gets the list of the notification registrations for the given provider.",
        "produces": [
          "application/json"
        ],
        "tags": [
          "NotificationRegistration"
        ],
        "operationId": "NotificationRegistrations_ListByProviderRegistration",
        "parameters": [
          {
            "minLength": 1,
            "type": "string",
            "description": "The ID of the target subscription.",
            "name": "subscriptionId",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "x-ms-parameter-location": "method",
            "description": "The name of the resource provider hosted within ProviderHub.",
            "name": "providerNamespace",
            "in": "path",
            "required": true
          },
          {
            "minLength": 1,
            "type": "string",
            "description": "The API version to use for this operation.",
            "name": "api-version",
            "in": "query",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved the notification registrations.",
            "schema": {
              "$ref": "#/definitions/NotificationRegistrationArrayResponseWithContinuation"
            }
          },
          "default": {
            "description": "Error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "NotificationRegistrations_ListByProviderRegistration": {
            "$ref": "./examples/NotificationRegistrations_ListByProviderRegistration.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ProviderHub/providerRegistrations/{providerNamespace}/notificationRegistrations/{notificationRegistrationName}": {
      "get": {
        "description": "Gets the notification registration details.",
        "produces": [
          "application/json"
        ],
        "tags": [
          "NotificationRegistration"
        ],
        "operationId": "NotificationRegistrations_Get",
        "parameters": [
          {
            "minLength": 1,
            "type": "string",
            "description": "The ID of the target subscription.",
            "name": "subscriptionId",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "x-ms-parameter-location": "method",
            "description": "The name of the resource provider hosted within ProviderHub.",
            "name": "providerNamespace",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "x-ms-parameter-location": "method",
            "description": "The notification registration.",
            "name": "notificationRegistrationName",
            "in": "path",
            "required": true
          },
          {
            "minLength": 1,
            "type": "string",
            "description": "The API version to use for this operation.",
            "name": "api-version",
            "in": "query",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved the notification registration.",
            "schema": {
              "$ref": "#/definitions/NotificationRegistration"
            }
          },
          "default": {
            "description": "Error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "NotificationRegistrations_Get": {
            "$ref": "./examples/NotificationRegistrations_Get.json"
          }
        }
      },
      "put": {
        "description": "Creates or updates a notification registration.",
        "produces": [
          "application/json"
        ],
        "tags": [
          "NotificationRegistration"
        ],
        "operationId": "NotificationRegistrations_CreateOrUpdate",
        "parameters": [
          {
            "minLength": 1,
            "type": "string",
            "description": "The ID of the target subscription.",
            "name": "subscriptionId",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "x-ms-parameter-location": "method",
            "description": "The name of the resource provider hosted within ProviderHub.",
            "name": "providerNamespace",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "x-ms-parameter-location": "method",
            "description": "The notification registration.",
            "name": "notificationRegistrationName",
            "in": "path",
            "required": true
          },
          {
            "description": "The required body parameters supplied to the notification registration operation.",
            "name": "properties",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/NotificationRegistration"
            }
          },
          {
            "minLength": 1,
            "type": "string",
            "description": "The API version to use for this operation.",
            "name": "api-version",
            "in": "query",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully created or updated the notification registration.",
            "schema": {
              "$ref": "#/definitions/NotificationRegistration"
            }
          },
          "default": {
            "description": "Error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "NotificationRegistrations_CreateOrUpdate": {
            "$ref": "./examples/NotificationRegistrations_CreateOrUpdate.json"
          }
        }
      },
      "delete": {
        "description": "Deletes a notification registration.",
        "produces": [
          "application/json"
        ],
        "tags": [
          "NotificationRegistration"
        ],
        "operationId": "NotificationRegistrations_Delete",
        "parameters": [
          {
            "minLength": 1,
            "type": "string",
            "description": "The ID of the target subscription.",
            "name": "subscriptionId",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "x-ms-parameter-location": "method",
            "description": "The name of the resource provider hosted within ProviderHub.",
            "name": "providerNamespace",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "x-ms-parameter-location": "method",
            "description": "The notification registration.",
            "name": "notificationRegistrationName",
            "in": "path",
            "required": true
          },
          {
            "minLength": 1,
            "type": "string",
            "description": "The API version to use for this operation.",
            "name": "api-version",
            "in": "query",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully deleted the notification registration."
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "Error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "NotificationRegistrations_Delete": {
            "$ref": "./examples/NotificationRegistrations_Delete.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ProviderHub/providerRegistrations/{providerNamespace}/operations/default": {
      "get": {
        "description": "Gets the operations supported by the given provider.",
        "produces": [
          "application/json"
        ],
        "tags": [
          "Operations"
        ],
        "operationId": "Operations_ListByProviderRegistration",
        "parameters": [
          {
            "minLength": 1,
            "type": "string",
            "description": "The ID of the target subscription.",
            "name": "subscriptionId",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "x-ms-parameter-location": "method",
            "description": "The name of the resource provider hosted within ProviderHub.",
            "name": "providerNamespace",
            "in": "path",
            "required": true
          },
          {
            "minLength": 1,
            "type": "string",
            "description": "The API version to use for this operation.",
            "name": "api-version",
            "in": "query",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved the supported operations.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/OperationsDefinition"
              }
            }
          },
          "default": {
            "description": "Error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Operations_ListByProviderRegistration": {
            "$ref": "./examples/Operations_ListByProviderRegistration.json"
          }
        }
      },
      "put": {
        "description": "Creates or updates the operation supported by the given provider.",
        "produces": [
          "application/json"
        ],
        "tags": [
          "Operations"
        ],
        "operationId": "Operations_CreateOrUpdate",
        "parameters": [
          {
            "minLength": 1,
            "type": "string",
            "description": "The ID of the target subscription.",
            "name": "subscriptionId",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "x-ms-parameter-location": "method",
            "description": "The name of the resource provider hosted within ProviderHub.",
            "name": "providerNamespace",
            "in": "path",
            "required": true
          },
          {
            "description": "The operations content properties supplied to the CreateOrUpdate operation.",
            "name": "OperationsPutContent",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/OperationsPutContent"
            }
          },
          {
            "minLength": 1,
            "type": "string",
            "description": "The API version to use for this operation.",
            "name": "api-version",
            "in": "query",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully created or updated the operation.",
            "schema": {
              "$ref": "#/definitions/OperationsContent"
            }
          },
          "default": {
            "description": "Error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Operations_CreateOrUpdate": {
            "$ref": "./examples/Operations_CreateOrUpdate.json"
          }
        }
      },
      "delete": {
        "description": "Deletes an operation.",
        "produces": [
          "application/json"
        ],
        "tags": [
          "Operations"
        ],
        "operationId": "Operations_Delete",
        "parameters": [
          {
            "minLength": 1,
            "type": "string",
            "description": "The ID of the target subscription.",
            "name": "subscriptionId",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "x-ms-parameter-location": "method",
            "description": "The name of the resource provider hosted within ProviderHub.",
            "name": "providerNamespace",
            "in": "path",
            "required": true
          },
          {
            "minLength": 1,
            "type": "string",
            "description": "The API version to use for this operation.",
            "name": "api-version",
            "in": "query",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully deleted the operation."
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "Error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Operations_Delete": {
            "$ref": "./examples/Operations_Delete.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ProviderHub/providerRegistrations/{providerNamespace}/resourcetypeRegistrations": {
      "get": {
        "description": "Gets the list of the resource types for the given provider.",
        "produces": [
          "application/json"
        ],
        "tags": [
          "ResourceTypeRegistration"
        ],
        "operationId": "ResourceTypeRegistrations_ListByProviderRegistration",
        "parameters": [
          {
            "minLength": 1,
            "type": "string",
            "description": "The ID of the target subscription.",
            "name": "subscriptionId",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "x-ms-parameter-location": "method",
            "description": "The name of the resource provider hosted within ProviderHub.",
            "name": "providerNamespace",
            "in": "path",
            "required": true
          },
          {
            "minLength": 1,
            "type": "string",
            "description": "The API version to use for this operation.",
            "name": "api-version",
            "in": "query",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved the resource types.",
            "schema": {
              "$ref": "#/definitions/ResourceTypeRegistrationArrayResponseWithContinuation"
            }
          },
          "default": {
            "description": "Error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ResourceTypeRegistrations_ListByProviderRegistration": {
            "$ref": "./examples/ResourceTypeRegistrations_ListByProviderRegistration.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ProviderHub/providerRegistrations/{providerNamespace}/resourcetypeRegistrations/{resourceType}": {
      "get": {
        "description": "Gets a resource type details in the given subscription and provider.",
        "produces": [
          "application/json"
        ],
        "tags": [
          "ResourceTypeRegistration"
        ],
        "operationId": "ResourceTypeRegistrations_Get",
        "parameters": [
          {
            "minLength": 1,
            "type": "string",
            "description": "The ID of the target subscription.",
            "name": "subscriptionId",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "x-ms-parameter-location": "method",
            "description": "The name of the resource provider hosted within ProviderHub.",
            "name": "providerNamespace",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "x-ms-parameter-location": "method",
            "description": "The resource type.",
            "name": "resourceType",
            "in": "path",
            "required": true
          },
          {
            "minLength": 1,
            "type": "string",
            "description": "The API version to use for this operation.",
            "name": "api-version",
            "in": "query",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved the resource type.",
            "schema": {
              "$ref": "#/definitions/ResourceTypeRegistration"
            }
          },
          "default": {
            "description": "Error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ResourceTypeRegistrations_Get": {
            "$ref": "./examples/ResourceTypeRegistrations_Get.json"
          }
        }
      },
      "put": {
        "description": "Creates or updates a resource type.",
        "produces": [
          "application/json"
        ],
        "tags": [
          "ResourceTypeRegistration"
        ],
        "operationId": "ResourceTypeRegistrations_CreateOrUpdate",
        "parameters": [
          {
            "minLength": 1,
            "type": "string",
            "description": "The ID of the target subscription.",
            "name": "subscriptionId",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "x-ms-parameter-location": "method",
            "description": "The name of the resource provider hosted within ProviderHub.",
            "name": "providerNamespace",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "x-ms-parameter-location": "method",
            "description": "The resource type.",
            "name": "resourceType",
            "in": "path",
            "required": true
          },
          {
            "description": "The required request body parameters supplied to the resource type registration CreateOrUpdate operation.",
            "name": "properties",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ResourceTypeRegistration"
            }
          },
          {
            "minLength": 1,
            "type": "string",
            "description": "The API version to use for this operation.",
            "name": "api-version",
            "in": "query",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully updated the resource type.",
            "schema": {
              "$ref": "#/definitions/ResourceTypeRegistration"
            }
          },
          "201": {
            "description": "Successfully created the resource type.",
            "schema": {
              "$ref": "#/definitions/ResourceTypeRegistration"
            }
          },
          "default": {
            "description": "Error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ResourceTypeRegistrations_CreateOrUpdate": {
            "$ref": "./examples/ResourceTypeRegistrations_CreateOrUpdate.json"
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        }
      },
      "delete": {
        "description": "Deletes a resource type",
        "produces": [
          "application/json"
        ],
        "tags": [
          "ResourceTypeRegistration"
        ],
        "operationId": "ResourceTypeRegistrations_Delete",
        "parameters": [
          {
            "minLength": 1,
            "type": "string",
            "description": "The ID of the target subscription.",
            "name": "subscriptionId",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "x-ms-parameter-location": "method",
            "description": "The name of the resource provider hosted within ProviderHub.",
            "name": "providerNamespace",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "x-ms-parameter-location": "method",
            "description": "The resource type.",
            "name": "resourceType",
            "in": "path",
            "required": true
          },
          {
            "minLength": 1,
            "type": "string",
            "description": "The API version to use for this operation.",
            "name": "api-version",
            "in": "query",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully deleted the resource type."
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "Error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ResourceTypeRegistrations_Delete": {
            "$ref": "./examples/ResourceTypeRegistrations_Delete.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ProviderHub/providerRegistrations/{providerNamespace}/resourcetypeRegistrations/{resourceType}/resourcetypeRegistrations/{nestedResourceTypeFirst}/resourcetypeRegistrations/{nestedResourceTypeSecond}/resourcetypeRegistrations/{nestedResourceTypeThird}/skus": {
      "get": {
        "description": "Gets the list of skus for the given resource type.",
        "produces": [
          "application/json"
        ],
        "tags": [
          "ResourceTypeSku"
        ],
        "operationId": "Skus_ListByResourceTypeRegistrationsNestedResourceTypeThird",
        "parameters": [
          {
            "minLength": 1,
            "type": "string",
            "description": "The ID of the target subscription.",
            "name": "subscriptionId",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "x-ms-parameter-location": "method",
            "description": "The name of the resource provider hosted within ProviderHub.",
            "name": "providerNamespace",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "x-ms-parameter-location": "method",
            "description": "The resource type.",
            "name": "resourceType",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "x-ms-parameter-location": "method",
            "description": "The first child resource type.",
            "name": "nestedResourceTypeFirst",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "x-ms-parameter-location": "method",
            "description": "The second child resource type.",
            "name": "nestedResourceTypeSecond",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "x-ms-parameter-location": "method",
            "description": "The third child resource type.",
            "name": "nestedResourceTypeThird",
            "in": "path",
            "required": true
          },
          {
            "minLength": 1,
            "type": "string",
            "description": "The API version to use for this operation.",
            "name": "api-version",
            "in": "query",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "SUccessfully retrieved the resource type skus.",
            "schema": {
              "$ref": "#/definitions/SkuResourceArrayResponseWithContinuation"
            }
          },
          "default": {
            "description": "Error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Skus_ListByResourceTypeRegistrationsNestedResourceTypeThird": {
            "$ref": "./examples/Skus_ListByResourceTypeRegistrationsNestedResourceTypeThird.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ProviderHub/providerRegistrations/{providerNamespace}/resourcetypeRegistrations/{resourceType}/resourcetypeRegistrations/{nestedResourceTypeFirst}/resourcetypeRegistrations/{nestedResourceTypeSecond}/resourcetypeRegistrations/{nestedResourceTypeThird}/skus/{sku}": {
      "get": {
        "description": "Gets the sku details for the given resource type and sku name.",
        "produces": [
          "application/json"
        ],
        "tags": [
          "ResourceTypeSku"
        ],
        "operationId": "Skus_GetNestedResourceTypeThird",
        "parameters": [
          {
            "minLength": 1,
            "type": "string",
            "description": "The ID of the target subscription.",
            "name": "subscriptionId",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "x-ms-parameter-location": "method",
            "description": "The name of the resource provider hosted within ProviderHub.",
            "name": "providerNamespace",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "x-ms-parameter-location": "method",
            "description": "The resource type.",
            "name": "resourceType",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "x-ms-parameter-location": "method",
            "description": "The first child resource type.",
            "name": "nestedResourceTypeFirst",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "x-ms-parameter-location": "method",
            "description": "The second child resource type.",
            "name": "nestedResourceTypeSecond",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "x-ms-parameter-location": "method",
            "description": "The third child resource type.",
            "name": "nestedResourceTypeThird",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "x-ms-parameter-location": "method",
            "description": "The SKU.",
            "name": "sku",
            "in": "path",
            "required": true
          },
          {
            "minLength": 1,
            "type": "string",
            "description": "The API version to use for this operation.",
            "name": "api-version",
            "in": "query",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved the resource type sku.",
            "schema": {
              "$ref": "#/definitions/SkuResource"
            }
          },
          "default": {
            "description": "Error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Skus_GetNestedResourceTypeThird": {
            "$ref": "./examples/Skus_GetNestedResourceTypeThird.json"
          }
        }
      },
      "put": {
        "description": "Creates or updates the resource type skus in the given resource type.",
        "produces": [
          "application/json"
        ],
        "tags": [
          "ResourceTypeSku"
        ],
        "operationId": "Skus_CreateOrUpdateNestedResourceTypeThird",
        "parameters": [
          {
            "minLength": 1,
            "type": "string",
            "description": "The ID of the target subscription.",
            "name": "subscriptionId",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "x-ms-parameter-location": "method",
            "description": "The name of the resource provider hosted within ProviderHub.",
            "name": "providerNamespace",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "x-ms-parameter-location": "method",
            "description": "The resource type.",
            "name": "resourceType",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "x-ms-parameter-location": "method",
            "description": "The first child resource type.",
            "name": "nestedResourceTypeFirst",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "x-ms-parameter-location": "method",
            "description": "The second child resource type.",
            "name": "nestedResourceTypeSecond",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "x-ms-parameter-location": "method",
            "description": "The third child resource type.",
            "name": "nestedResourceTypeThird",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "x-ms-parameter-location": "method",
            "description": "The SKU.",
            "name": "sku",
            "in": "path",
            "required": true
          },
          {
            "description": "The required body parameters supplied to the resource sku operation.",
            "name": "properties",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ResourceTypeSku"
            }
          },
          {
            "minLength": 1,
            "type": "string",
            "description": "The API version to use for this operation.",
            "name": "api-version",
            "in": "query",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully created or updated the resource type sku.",
            "schema": {
              "$ref": "#/definitions/SkuResource"
            }
          },
          "default": {
            "description": "Error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Skus_CreateOrUpdateNestedResourceTypeThird": {
            "$ref": "./examples/Skus_CreateOrUpdateNestedResourceTypeThird.json"
          }
        }
      },
      "delete": {
        "description": "Deletes a resource type sku.",
        "produces": [
          "application/json"
        ],
        "tags": [
          "ResourceTypeSku"
        ],
        "operationId": "Skus_DeleteNestedResourceTypeThird",
        "parameters": [
          {
            "minLength": 1,
            "type": "string",
            "description": "The ID of the target subscription.",
            "name": "subscriptionId",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "x-ms-parameter-location": "method",
            "description": "The name of the resource provider hosted within ProviderHub.",
            "name": "providerNamespace",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "x-ms-parameter-location": "method",
            "description": "The resource type.",
            "name": "resourceType",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "x-ms-parameter-location": "method",
            "description": "The first child resource type.",
            "name": "nestedResourceTypeFirst",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "x-ms-parameter-location": "method",
            "description": "The second child resource type.",
            "name": "nestedResourceTypeSecond",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "x-ms-parameter-location": "method",
            "description": "The third child resource type.",
            "name": "nestedResourceTypeThird",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "x-ms-parameter-location": "method",
            "description": "The SKU.",
            "name": "sku",
            "in": "path",
            "required": true
          },
          {
            "minLength": 1,
            "type": "string",
            "description": "The API version to use for this operation.",
            "name": "api-version",
            "in": "query",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully deleted the resource type sku."
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "Error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Skus_DeleteNestedResourceTypeThird": {
            "$ref": "./examples/Skus_DeleteNestedResourceTypeThird.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ProviderHub/providerRegistrations/{providerNamespace}/resourcetypeRegistrations/{resourceType}/resourcetypeRegistrations/{nestedResourceTypeFirst}/resourcetypeRegistrations/{nestedResourceTypeSecond}/skus": {
      "get": {
        "description": "Gets the list of skus for the given resource type.",
        "produces": [
          "application/json"
        ],
        "tags": [
          "ResourceTypeSku"
        ],
        "operationId": "Skus_ListByResourceTypeRegistrationsNestedResourceTypeSecond",
        "parameters": [
          {
            "minLength": 1,
            "type": "string",
            "description": "The ID of the target subscription.",
            "name": "subscriptionId",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "x-ms-parameter-location": "method",
            "description": "The name of the resource provider hosted within ProviderHub.",
            "name": "providerNamespace",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "x-ms-parameter-location": "method",
            "description": "The resource type.",
            "name": "resourceType",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "x-ms-parameter-location": "method",
            "description": "The first child resource type.",
            "name": "nestedResourceTypeFirst",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "x-ms-parameter-location": "method",
            "description": "The second child resource type.",
            "name": "nestedResourceTypeSecond",
            "in": "path",
            "required": true
          },
          {
            "minLength": 1,
            "type": "string",
            "description": "The API version to use for this operation.",
            "name": "api-version",
            "in": "query",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "SUccessfully retrieved the resource type skus.",
            "schema": {
              "$ref": "#/definitions/SkuResourceArrayResponseWithContinuation"
            }
          },
          "default": {
            "description": "Error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Skus_ListByResourceTypeRegistrationsNestedResourceTypeSecond": {
            "$ref": "./examples/Skus_ListByResourceTypeRegistrationsNestedResourceTypeSecond.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ProviderHub/providerRegistrations/{providerNamespace}/resourcetypeRegistrations/{resourceType}/resourcetypeRegistrations/{nestedResourceTypeFirst}/resourcetypeRegistrations/{nestedResourceTypeSecond}/skus/{sku}": {
      "get": {
        "description": "Gets the sku details for the given resource type and sku name.",
        "produces": [
          "application/json"
        ],
        "tags": [
          "ResourceTypeSku"
        ],
        "operationId": "Skus_GetNestedResourceTypeSecond",
        "parameters": [
          {
            "minLength": 1,
            "type": "string",
            "description": "The ID of the target subscription.",
            "name": "subscriptionId",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "x-ms-parameter-location": "method",
            "description": "The name of the resource provider hosted within ProviderHub.",
            "name": "providerNamespace",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "x-ms-parameter-location": "method",
            "description": "The resource type.",
            "name": "resourceType",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "x-ms-parameter-location": "method",
            "description": "The first child resource type.",
            "name": "nestedResourceTypeFirst",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "x-ms-parameter-location": "method",
            "description": "The second child resource type.",
            "name": "nestedResourceTypeSecond",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "x-ms-parameter-location": "method",
            "description": "The SKU.",
            "name": "sku",
            "in": "path",
            "required": true
          },
          {
            "minLength": 1,
            "type": "string",
            "description": "The API version to use for this operation.",
            "name": "api-version",
            "in": "query",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved the resource type sku.",
            "schema": {
              "$ref": "#/definitions/SkuResource"
            }
          },
          "default": {
            "description": "Error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Skus_GetNestedResourceTypeSecond": {
            "$ref": "./examples/Skus_GetNestedResourceTypeSecond.json"
          }
        }
      },
      "put": {
        "description": "Creates or updates the resource type skus in the given resource type.",
        "produces": [
          "application/json"
        ],
        "tags": [
          "ResourceTypeSku"
        ],
        "operationId": "Skus_CreateOrUpdateNestedResourceTypeSecond",
        "parameters": [
          {
            "minLength": 1,
            "type": "string",
            "description": "The ID of the target subscription.",
            "name": "subscriptionId",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "x-ms-parameter-location": "method",
            "description": "The name of the resource provider hosted within ProviderHub.",
            "name": "providerNamespace",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "x-ms-parameter-location": "method",
            "description": "The resource type.",
            "name": "resourceType",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "x-ms-parameter-location": "method",
            "description": "The first child resource type.",
            "name": "nestedResourceTypeFirst",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "x-ms-parameter-location": "method",
            "description": "The second child resource type.",
            "name": "nestedResourceTypeSecond",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "x-ms-parameter-location": "method",
            "description": "The SKU.",
            "name": "sku",
            "in": "path",
            "required": true
          },
          {
            "description": "The required body parameters supplied to the resource sku operation.",
            "name": "properties",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ResourceTypeSku"
            }
          },
          {
            "minLength": 1,
            "type": "string",
            "description": "The API version to use for this operation.",
            "name": "api-version",
            "in": "query",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully created or updated the resource type sku.",
            "schema": {
              "$ref": "#/definitions/SkuResource"
            }
          },
          "default": {
            "description": "Error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Skus_CreateOrUpdateNestedResourceTypeSecond": {
            "$ref": "./examples/Skus_CreateOrUpdateNestedResourceTypeSecond.json"
          }
        }
      },
      "delete": {
        "description": "Deletes a resource type sku.",
        "produces": [
          "application/json"
        ],
        "tags": [
          "ResourceTypeSku"
        ],
        "operationId": "Skus_DeleteNestedResourceTypeSecond",
        "parameters": [
          {
            "minLength": 1,
            "type": "string",
            "description": "The ID of the target subscription.",
            "name": "subscriptionId",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "x-ms-parameter-location": "method",
            "description": "The name of the resource provider hosted within ProviderHub.",
            "name": "providerNamespace",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "x-ms-parameter-location": "method",
            "description": "The resource type.",
            "name": "resourceType",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "x-ms-parameter-location": "method",
            "description": "The first child resource type.",
            "name": "nestedResourceTypeFirst",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "x-ms-parameter-location": "method",
            "description": "The second child resource type.",
            "name": "nestedResourceTypeSecond",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "x-ms-parameter-location": "method",
            "description": "The SKU.",
            "name": "sku",
            "in": "path",
            "required": true
          },
          {
            "minLength": 1,
            "type": "string",
            "description": "The API version to use for this operation.",
            "name": "api-version",
            "in": "query",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully deleted the resource type sku."
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "Error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Skus_DeleteNestedResourceTypeSecond": {
            "$ref": "./examples/Skus_DeleteNestedResourceTypeSecond.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ProviderHub/providerRegistrations/{providerNamespace}/resourcetypeRegistrations/{resourceType}/resourcetypeRegistrations/{nestedResourceTypeFirst}/skus": {
      "get": {
        "description": "Gets the list of skus for the given resource type.",
        "produces": [
          "application/json"
        ],
        "tags": [
          "ResourceTypeSku"
        ],
        "operationId": "Skus_ListByResourceTypeRegistrationsNestedResourceTypeFirst",
        "parameters": [
          {
            "minLength": 1,
            "type": "string",
            "description": "The ID of the target subscription.",
            "name": "subscriptionId",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "x-ms-parameter-location": "method",
            "description": "The name of the resource provider hosted within ProviderHub.",
            "name": "providerNamespace",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "x-ms-parameter-location": "method",
            "description": "The resource type.",
            "name": "resourceType",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "x-ms-parameter-location": "method",
            "description": "The first child resource type.",
            "name": "nestedResourceTypeFirst",
            "in": "path",
            "required": true
          },
          {
            "minLength": 1,
            "type": "string",
            "description": "The API version to use for this operation.",
            "name": "api-version",
            "in": "query",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "SUccessfully retrieved the resource type skus.",
            "schema": {
              "$ref": "#/definitions/SkuResourceArrayResponseWithContinuation"
            }
          },
          "default": {
            "description": "Error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Skus_ListByResourceTypeRegistrationsNestedResourceTypeFirst": {
            "$ref": "./examples/Skus_ListByResourceTypeRegistrationsNestedResourceTypeFirst.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ProviderHub/providerRegistrations/{providerNamespace}/resourcetypeRegistrations/{resourceType}/resourcetypeRegistrations/{nestedResourceTypeFirst}/skus/{sku}": {
      "get": {
        "description": "Gets the sku details for the given resource type and sku name.",
        "produces": [
          "application/json"
        ],
        "tags": [
          "ResourceTypeSku"
        ],
        "operationId": "Skus_GetNestedResourceTypeFirst",
        "parameters": [
          {
            "minLength": 1,
            "type": "string",
            "description": "The ID of the target subscription.",
            "name": "subscriptionId",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "x-ms-parameter-location": "method",
            "description": "The name of the resource provider hosted within ProviderHub.",
            "name": "providerNamespace",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "x-ms-parameter-location": "method",
            "description": "The resource type.",
            "name": "resourceType",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "x-ms-parameter-location": "method",
            "description": "The first child resource type.",
            "name": "nestedResourceTypeFirst",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "x-ms-parameter-location": "method",
            "description": "The SKU.",
            "name": "sku",
            "in": "path",
            "required": true
          },
          {
            "minLength": 1,
            "type": "string",
            "description": "The API version to use for this operation.",
            "name": "api-version",
            "in": "query",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved the resource type sku.",
            "schema": {
              "$ref": "#/definitions/SkuResource"
            }
          },
          "default": {
            "description": "Error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Skus_GetNestedResourceTypeFirst": {
            "$ref": "./examples/Skus_GetNestedResourceTypeFirst.json"
          }
        }
      },
      "put": {
        "description": "Creates or updates the resource type skus in the given resource type.",
        "produces": [
          "application/json"
        ],
        "tags": [
          "ResourceTypeSku"
        ],
        "operationId": "Skus_CreateOrUpdateNestedResourceTypeFirst",
        "parameters": [
          {
            "minLength": 1,
            "type": "string",
            "description": "The ID of the target subscription.",
            "name": "subscriptionId",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "x-ms-parameter-location": "method",
            "description": "The name of the resource provider hosted within ProviderHub.",
            "name": "providerNamespace",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "x-ms-parameter-location": "method",
            "description": "The resource type.",
            "name": "resourceType",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "x-ms-parameter-location": "method",
            "description": "The first child resource type.",
            "name": "nestedResourceTypeFirst",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "x-ms-parameter-location": "method",
            "description": "The SKU.",
            "name": "sku",
            "in": "path",
            "required": true
          },
          {
            "description": "The required body parameters supplied to the resource sku operation.",
            "name": "properties",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ResourceTypeSku"
            }
          },
          {
            "minLength": 1,
            "type": "string",
            "description": "The API version to use for this operation.",
            "name": "api-version",
            "in": "query",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully created or updated the resource type sku.",
            "schema": {
              "$ref": "#/definitions/SkuResource"
            }
          },
          "default": {
            "description": "Error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Skus_CreateOrUpdateNestedResourceTypeFirst": {
            "$ref": "./examples/Skus_CreateOrUpdateNestedResourceTypeFirst.json"
          }
        }
      },
      "delete": {
        "description": "Deletes a resource type sku.",
        "produces": [
          "application/json"
        ],
        "tags": [
          "ResourceTypeSku"
        ],
        "operationId": "Skus_DeleteNestedResourceTypeFirst",
        "parameters": [
          {
            "minLength": 1,
            "type": "string",
            "description": "The ID of the target subscription.",
            "name": "subscriptionId",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "x-ms-parameter-location": "method",
            "description": "The name of the resource provider hosted within ProviderHub.",
            "name": "providerNamespace",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "x-ms-parameter-location": "method",
            "description": "The resource type.",
            "name": "resourceType",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "x-ms-parameter-location": "method",
            "description": "The first child resource type.",
            "name": "nestedResourceTypeFirst",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "x-ms-parameter-location": "method",
            "description": "The SKU.",
            "name": "sku",
            "in": "path",
            "required": true
          },
          {
            "minLength": 1,
            "type": "string",
            "description": "The API version to use for this operation.",
            "name": "api-version",
            "in": "query",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully deleted the resource type sku."
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "Error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Skus_DeleteNestedResourceTypeFirst": {
            "$ref": "./examples/Skus_DeleteNestedResourceTypeFirst.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ProviderHub/providerRegistrations/{providerNamespace}/resourcetypeRegistrations/{resourceType}/skus": {
      "get": {
        "description": "Gets the list of skus for the given resource type.",
        "produces": [
          "application/json"
        ],
        "tags": [
          "ResourceTypeSku"
        ],
        "operationId": "Skus_ListByResourceTypeRegistrations",
        "parameters": [
          {
            "minLength": 1,
            "type": "string",
            "description": "The ID of the target subscription.",
            "name": "subscriptionId",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "x-ms-parameter-location": "method",
            "description": "The name of the resource provider hosted within ProviderHub.",
            "name": "providerNamespace",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "x-ms-parameter-location": "method",
            "description": "The resource type.",
            "name": "resourceType",
            "in": "path",
            "required": true
          },
          {
            "minLength": 1,
            "type": "string",
            "description": "The API version to use for this operation.",
            "name": "api-version",
            "in": "query",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "SUccessfully retrieved the resource type skus.",
            "schema": {
              "$ref": "#/definitions/SkuResourceArrayResponseWithContinuation"
            }
          },
          "default": {
            "description": "Error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Skus_ListByResourceTypeRegistrations": {
            "$ref": "./examples/Skus_ListByResourceTypeRegistrations.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ProviderHub/providerRegistrations/{providerNamespace}/resourcetypeRegistrations/{resourceType}/skus/{sku}": {
      "get": {
        "description": "Gets the sku details for the given resource type and sku name.",
        "produces": [
          "application/json"
        ],
        "tags": [
          "ResourceTypeSku"
        ],
        "operationId": "Skus_Get",
        "parameters": [
          {
            "minLength": 1,
            "type": "string",
            "description": "The ID of the target subscription.",
            "name": "subscriptionId",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "x-ms-parameter-location": "method",
            "description": "The name of the resource provider hosted within ProviderHub.",
            "name": "providerNamespace",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "x-ms-parameter-location": "method",
            "description": "The resource type.",
            "name": "resourceType",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "x-ms-parameter-location": "method",
            "description": "The SKU.",
            "name": "sku",
            "in": "path",
            "required": true
          },
          {
            "minLength": 1,
            "type": "string",
            "description": "The API version to use for this operation.",
            "name": "api-version",
            "in": "query",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved the resource type sku.",
            "schema": {
              "$ref": "#/definitions/SkuResource"
            }
          },
          "default": {
            "description": "Error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Skus_Get": {
            "$ref": "./examples/Skus_Get.json"
          }
        }
      },
      "put": {
        "description": "Creates or updates the resource type skus in the given resource type.",
        "produces": [
          "application/json"
        ],
        "tags": [
          "ResourceTypeSku"
        ],
        "operationId": "Skus_CreateOrUpdate",
        "parameters": [
          {
            "minLength": 1,
            "type": "string",
            "description": "The ID of the target subscription.",
            "name": "subscriptionId",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "x-ms-parameter-location": "method",
            "description": "The name of the resource provider hosted within ProviderHub.",
            "name": "providerNamespace",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "x-ms-parameter-location": "method",
            "description": "The resource type.",
            "name": "resourceType",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "x-ms-parameter-location": "method",
            "description": "The SKU.",
            "name": "sku",
            "in": "path",
            "required": true
          },
          {
            "description": "The required body parameters supplied to the resource sku operation.",
            "name": "properties",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ResourceTypeSku"
            }
          },
          {
            "minLength": 1,
            "type": "string",
            "description": "The API version to use for this operation.",
            "name": "api-version",
            "in": "query",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully created or updated the resource type sku.",
            "schema": {
              "$ref": "#/definitions/SkuResource"
            }
          },
          "default": {
            "description": "Error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Skus_CreateOrUpdate": {
            "$ref": "./examples/Skus_CreateOrUpdate.json"
          }
        }
      },
      "delete": {
        "description": "Deletes a resource type sku.",
        "produces": [
          "application/json"
        ],
        "tags": [
          "ResourceTypeSku"
        ],
        "operationId": "Skus_Delete",
        "parameters": [
          {
            "minLength": 1,
            "type": "string",
            "description": "The ID of the target subscription.",
            "name": "subscriptionId",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "x-ms-parameter-location": "method",
            "description": "The name of the resource provider hosted within ProviderHub.",
            "name": "providerNamespace",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "x-ms-parameter-location": "method",
            "description": "The resource type.",
            "name": "resourceType",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "x-ms-parameter-location": "method",
            "description": "The SKU.",
            "name": "sku",
            "in": "path",
            "required": true
          },
          {
            "minLength": 1,
            "type": "string",
            "description": "The API version to use for this operation.",
            "name": "api-version",
            "in": "query",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully deleted the resource type sku."
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "Error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Skus_Delete": {
            "$ref": "./examples/Skus_Delete.json"
          }
        }
      }
    }
  },
  "definitions": {
    "AuthorizationActionMapping": {
      "type": "object",
      "properties": {
        "desired": {
          "type": "string"
        },
        "original": {
          "type": "string"
        }
      }
    },
    "CanaryTrafficRegionRolloutConfiguration": {
      "type": "object",
      "properties": {
        "regions": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "skipRegions": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "CheckNameAvailabilitySpecifications": {
      "type": "object",
      "properties": {
        "enableDefaultValidation": {
          "type": "boolean"
        },
        "resourceTypesWithCustomValidation": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "CheckinManifestInfo": {
      "type": "object",
      "required": [
        "isCheckedIn",
        "statusMessage"
      ],
      "properties": {
        "commitId": {
          "type": "string"
        },
        "isCheckedIn": {
          "type": "boolean"
        },
        "pullRequest": {
          "type": "string"
        },
        "statusMessage": {
          "type": "string"
        }
      }
    },
    "CheckinManifestParams": {
      "type": "object",
      "required": [
        "baselineArmManifestLocation",
        "environment"
      ],
      "properties": {
        "baselineArmManifestLocation": {
          "description": "The baseline ARM manifest location supplied to the checkin manifest operation.",
          "type": "string"
        },
        "environment": {
          "description": "The environment supplied to the checkin manifest operation.",
          "type": "string"
        }
      }
    },
    "CustomRollout": {
      "description": "Rollout details.",
      "type": "object",
      "required": [
        "properties"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/proxyResource"
        }
      ],
      "properties": {
        "properties": {
          "description": "Properties of the rollout.",
          "allOf": [
            {
              "$ref": "#/definitions/CustomRolloutProperties"
            }
          ]
        }
      },
      "x-ms-azure-resource": true
    },
    "CustomRolloutArrayResponseWithContinuation": {
      "type": "object",
      "properties": {
        "nextLink": {
          "description": "The URL to get to the next set of results, if there are any.",
          "type": "string"
        },
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/CustomRollout"
          }
        }
      }
    },
    "CustomRolloutProperties": {
      "type": "object",
      "required": [
        "specification"
      ],
      "properties": {
        "provisioningState": {
          "type": "string",
          "enum": [
            "NotSpecified",
            "Accepted",
            "Running",
            "Creating",
            "Created",
            "Deleting",
            "Deleted",
            "Canceled",
            "Failed",
            "Succeeded",
            "MovingResources",
            "TransientFailure",
            "RolloutInProgress"
          ],
          "x-ms-enum": {
            "modelAsString": true,
            "name": "ProvisioningState"
          }
        },
        "specification": {
          "allOf": [
            {
              "$ref": "#/definitions/CustomRolloutSpecification"
            }
          ]
        },
        "status": {
          "allOf": [
            {
              "$ref": "#/definitions/CustomRolloutStatus"
            }
          ]
        }
      }
[...]
